PORT=5000
ALLOWED_ORIGINS=http://localhost:5173
NODE_ENV=development

# Logging
LOG_LEVEL=info
ENABLE_CONSOLE_LOGGING=true
ENABLE_FILE_LOGGING=false
LOG_FILE_PATH=./logs/app.log
ELASTICSEARCH_LOGS_ENABLED=false

# Elastic APM (disabled by default)
ELASTIC_APM_ENABLED=false
ELASTIC_APM_SERVER_URL=
ELASTIC_APM_SERVICE_NAME=
ELASTIC_APM_ENVIRONMENT=

#Database
MONGODB_URI=mongodb://127.0.0.1:27017
DATABASE_NAME=

#Redis
REDIS_URL=